@import './variables.scss';

html, body, .container, #root {
  height: 100%;
  width: 100%;
  background-color: $gray;

}

.main {
  position: absolute;
  top: calc(#{$top-nav-height} + 20px);
  left: $side-nav-width;
  height: calc(100% - 100px);
  width: 850px;
}