@import './variables.scss';

.post-header {
  display: flex;
  font-size: 12px;
  .post-category {
    font-weight: bold;
    margin-left: 10px;
  }
  .post-author {
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0 15px;
    padding: 0 10px;
  }
  .upvotes {
    position: absolute;
    right: 0px;
    color: $orange;
    font-size: 20px;
    margin: 0 20px;
    .icon-upvote {
      color: lighten($color: $orange, $amount: 30%);
      padding: 0px 10px;
      
    }
  }
}