@import './variables.scss';

.top-nav {
  position: fixed;
  display: flex;
  align-items: center;
  height: $top-nav-height;
  width: calc(100% - 40px);
  background-color: $white;
  padding: 0px 20px;
  border-bottom: $light-gray;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
}